li.appchooser .plus {
  font-size: x-large;
  font-weight: bolder;
  color: #D0CE54;
  float: left;
  margin-right: 12px;
  margin-left: 4px;
}

li.appchooser {
  cursor: pointer;
  margin-top:12px;
  opacity: 0.8;
}

li.appchooser div,
li.appchooser span {
  cursor: pointer;
}

li.appchooser.open {
  text-align: center;
  font-size: small;
  width: 80%;
}


div.wrapper > li > a {
  display: inline-block;
}

div.wrapper > li > input {
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  display: inline;
}
