#navigation a span {
  width: 100px;
}

div.wrapper > div.button {
  text-align: center;
  font-size: small;
  width: 80%;
}

div.wrapper > li > a {
  display: inline-block;
  opacity: 0.7;
}

div.wrapper > li > a.active {
	opacity: 1.0;
}

div.wrapper > li > input {
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  display: inline;
}
